.blurhashing {
	opacity: 0;
}

.blurhashed {
	opacity: 1;
}

.blurhash-container .lazyloaded {
	position: relative;
	z-index: 1;
}

.blurhash-container .blurhashing,
.blurhash-container .blurhashed {
	position: absolute;
	top: 0;
}

.blurhash-container .blurhashed {
	z-index: 0;
}
