.blurhash-container .lazyloaded {
	position: relative;
	z-index: 1;
}

.blurhash-container .blurhashing {
  opacity: 0;
}

.blurhash-container .blurhashed {
  transition: opacity 0.3s;
	opacity: 1;
	z-index: 0;
}
