.blurhashing {
	opacity: 0;
}

.blurhashed {
	transition: opacity 0.3s;
	opacity: 1;
}

.blurhash-container .lazyloaded {
	position: relative;
	z-index: 1;
}

.blurhash-container .blurhashing {
	position: absolute;
}

.blurhash-container .blurhashed {
	position: absolute;
	z-index: 0;
}
